@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");
body {
//  background-image: url("../public/deep-space.jpg");
 // background-color: #303030;
  backgound-size: cover;
}
/* make the canvases, children of the this container */
#container {
  position: relative;
}


#threeContainer {
  pointer-events: none;
  position: absolute;
  z-index: 10;      /* position this canvas on top of the other one */
}